:root {
  --darkRed: #780000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(203, 243, 240, 0.7);
}

.display-3 {
  font-family: "Monoton", cursive;
  font-size: 3em;
  color: #d68c45;
}

#msg {
  font-family: "Comfortaa", cursive;
  font-size: 1em;
  color: var(--darkRed);
}

#currentDay {
  font-family: "Edu SA Beginner", cursive;
  color: var(--darkRed);
}

main {
  width: 100%;
  height: auto;
}

.hour {
  background-color: rgba(248, 207, 201, 0.7);
  border: none;
  border-top: 0.15em solid #d8e2dc;
  border-radius: 0.5em;
  color: var(--darkRed);
}

.description {
  resize: none;
  white-space: pre-wrap;
  border: 0.2em solid #d8e2dc;
  border-right: 0;
}

.past {
  background-color: rgba(252, 162, 17, 0.7);
}

.present {
  background-color: #e0c3fc;
}

.future {
  background-color: rgba(72, 220, 190, 0.7);
}

.saveBtn:hover {
  background-color: #fe6d73;
  transform: scale(1.1);
}

.hour,
.description,
.saveBtn {
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.5);
}

.footerTxt {
  color: var(--darkRed);
}
